<p>Today's fortune: <%=@todays_fortune%></p>
<p>Today's lucky numbers:</p>
<ul>
  <li><%=@winning_lotto_numbers[0]%></li>
  <li><%=@winning_lotto_numbers[1]%></li>
  <li><%=@winning_lotto_numbers[2]%></li>
  <li><%=@winning_lotto_numbers[3]%></li>
  <li><%=@winning_lotto_numbers[4]%></li>
  <li><%=@winning_lotto_numbers[5]%></li>
</ul>

<a href="/bottles">99 Bottles of beer on the wall</a>